name: Run tests

on:
  push:
    paths:
      - 'pwa/**'
  pull_request:
    paths:
      - 'pwa/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
            node-version: '20'
      - name: Install
        working-directory: pwa
        run: npm ci
      - name: Run tests
        working-directory: pwa
        run: npm test --silent
